.wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #fff;
    min-height: 200px;
    width: 40%;
    margin-right: 10px;
    padding: 20px;
}