.nav {
	grid-area: n;
}
.account{
	position: sticky;
	top: 80px;
	background-color: #fff;
	border-radius: 15px;
	margin-left: 10px;	
	padding: 15px;
}
.account .title{
	color: #adb5bd;
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: "Montserrat", sans-serif;
}