
.AccountMenuItem{
}
.AccountMenuItem a{
	color: #888;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
}
.AccountMenuItem a:hover{
	color: #05f;
}

.AccountMenuItem a.activeLink{
	color: #05f;
}